<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge layout</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            Logo
        </div>

        <nav>
            <ul class="navigation">
                <li class="navigation__item">Home</li>
                <li class="navigation__item">Courses</li>
                <li class="navigation__item">Instructors</li>
                <li class="navigation__item">Blog</li>
            </ul>
        </nav>
    </header>

    <aside class="aside">
        <div class="aside_div"></div>
        <div class="aside_div"></div>
        <div class="aside_div"></div>
        <div class="aside_div"></div>
    </aside>

    <main class="main"></main>

    <footer class="footer"></footer>
</body>
</html>