:root {
    --primary-color: #284b63;
    --secundary-color: #3c6e71;
    --header-size: 4rem;
    --font: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}

main {
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}

h1 {
    color: var(--primary-color);
    font-size: var(--header-size);
}

footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--secundary-color);
}